<div class="brand">
  <span class="toggle" (click)="toggleLabel()"></span>
  <a class="brand-logo" href="/"></a>
</div>
<ul>
  <li>
    <a routerLink="/dashboard">
      <i class="op op-icon-dashboard"></i><span class="nav-label">Dashboard</span>
    </a>
  </li>
  <li>
    <a routerLink="/campaigns">
      <i class="op op-icon-campaign"></i><span class="nav-label">Campaigns</span>
    </a>
  </li>
  <li>
    <a routerLink="/placements">
      <i class="op op-icon-placement"></i><span class="nav-label">Placements</span>
    </a>
  </li>
  <li>
    <a routerLink="/customers">
      <i class="op op-icon-customer-data"></i><span class="nav-label">Customers & Data</span>
    </a>
  </li>
  <li>
    <a routerLink="/reports">
      <i class="op op-icon-reports"></i><span class="nav-label">Reports</span>
    </a>
  </li>
</ul>
<div class="spacer"></div>
<ul>
  <li>
    <i class="op op-icon-connect"></i><span class="nav-label">Connect</span>
  </li>
  <li>
    <i class="op op-icon-help"></i><span class="nav-label">Help</span>
  </li>
  <li>
    <i class="op op-icon-feedback"></i><span class="nav-label">Feedback</span>
  </li>
</ul>
