<div class="brand">
  <span class="toggle" (click)="toggleLabel()"></span>
  <a class="brand-logo" href="/"></a>
</div>
<ul>
  <li *ngFor="let n of nodes">
    <a routerLink="{{n.link}}">
      <i class="op" [ngClass]="'op-icon-' + n.icon"></i><span class="nav-label">{{n.label}}</span>
    </a>
  </li>
</ul>
<div class="spacer"></div>
<ul>
  <li>
    <i class="op op-icon-connect"></i><span class="nav-label">Connect</span>
  </li>
  <li>
    <i class="op op-icon-help"></i><span class="nav-label">Help</span>
  </li>
  <li>
    <i class="op op-icon-feedback"></i><span class="nav-label">Feedback</span>
  </li>
</ul>
