<div id="side-info" class="side-info auto notification bookmark history">
  <div id="side-content" class="dark-menu">
    <ul class="auto notification">
      <li class="header-0">Notifications</li>
      <li class="header-1">new</li>
      <li class="item bright">
        <span class="icon"><i class="op op-icon-notifications"></i></span>
        <div class="content">
          <p class="message">You creative "Rokt email-mobile" was not approved because of
            typo.</p>
          <p class="time">yesterday 3:04pm</p>
        </div>
      </li>
      <li class="item bright">
        <span class="icon"><i class="op op-icon-notifications"></i></span>
        <div class="content">
          <p class="message">You creative "Rokt email-mobile" was not approved because of
            typo.</p>
          <p class="time">yesterday 3:04pm</p>
        </div>
      </li>
      <li class="item bright">
        <span class="icon"><i class="op op-icon-notifications"></i></span>
        <div class="content">
          <p class="message">You creative "Rokt email-mobile" was not approved because of
            typo.</p>
          <p class="time">yesterday 3:04pm</p>
        </div>
      </li>
      <li class="header-1">read</li>
      <li class="item bright">
        <span class="icon"><i class="op op-icon-notifications"></i></span>
        <div class="content">
          <p class="message">You creative "Rokt email-mobile" was not approved because of
            typo.</p>
          <p class="time">yesterday 3:04pm</p>
        </div>
      </li>
      <li class="item bright">
        <span class="icon"><i class="op op-icon-notifications"></i></span>
        <div class="content">
          <p class="message">You creative "Rokt email-mobile" was not approved because of
            typo.</p>
          <p class="time">yesterday 3:04pm</p>
        </div>
      </li>
      <li class="item bright">
        <span class="icon"><i class="op op-icon-notifications"></i></span>
        <div class="content">
          <p class="message">You creative "Rokt email-mobile" was not approved because of
            typo.</p>
          <p class="time">yesterday 3:04pm</p>
        </div>
      </li>
    </ul>
    <ul class="auto bookmark">
      <li class="header-0">Bookmarks</li>
      <li class="header-1">Creatives</li>
      <li class="item">
        <span class="icon"><i class="op op-icon-bookmarks"></i></span>
        <div class="content"><p>ROKT email - Canada</p></div>
      </li>
      <li class="item">
        <span class="icon"><i class="op op-icon-bookmarks"></i></span>
        <div class="content"><p>ROKT email - Canada</p></div>
      </li>
      <li class="header-1">Campaigns</li>
      <li class="item">
        <span class="icon"><i class="op op-icon-bookmarks"></i></span>
        <div class="content"><p>Rokt email - France</p></div>
      </li>
      <li class="item">
        <span class="icon"><i class="op op-icon-bookmarks"></i></span>
        <div class="content"><p>Rokt email - US</p></div>
      </li>
      <li class="header-1">Widgets</li>
      <li class="item">
        <span class="icon"><i class="op op-icon-bookmarks"></i></span>
        <div class="content"><p>Central - Checkout Widget</p></div>
      </li>
    </ul>
    <ul class="auto history">
      <li class="header-0">History</li>
      <li class="item bright">
        <span class="icon"><i class="op op-icon-campaign"></i></span>
        <div class="content">
          <p class="message-small bright">
            You created a new Campaign</p>
          <p>ROKT email - Canada</p>
          <p class="time">yesterday 3:04pm</p>
        </div>
      </li>
      <li class="item">
        <span class="icon"><i class="op op-icon-campaign"></i></span>
        <div class="content">
          <p class="message-small bright">
            You created a new Campaign</p>
          <p>ROKT email - Canada</p>
          <p class="time">yesterday 3:04pm</p>
        </div>
      </li>
      <li class="item bright">
        <span class="icon"><i class="op op-icon-creative"></i></span>
        <div class="content">
          <p class="message-small bright">
            Jill Doe submitted a new Creative for review:</p>
          <p>ROKT Email inline - US</p>
          <p class="time">yesterday 3:04pm</p>
        </div>
      </li>
      <li class="item bright">
        <span class="icon"><i class="op op-icon-campaign"></i></span>
        <div class="content">
          <p class="message-small bright">
            You creaed a new Campaign</p>
          <p>ROKT email - Canada</p>
          <p class="time">yesterday 3:04pm</p>
        </div>
      </li>
    </ul>
  </div>
</div>
<ul class="top-nav">
  <li class="account-selector">
    <a>
      <span class="t-subheader">Account</span>
      <i class="op op-icon-down"></i>
    </a>
    <ul class="my-dropdown-menu account-menu">
      <li>Billing</li>
      <li>Sites</li>
      <li>Settings</li>
      <li>User Management</li>
      <li>Add Account</li>
    </ul>
  </li>
  <li class="search-box">
    <a>
      <i class="op op-icon-search"></i>
      <input type="text" placeholder="Search for [audiences, campaigns, creatives]….">
    </a>
  </li>
  <li class="date-picker">
    <a>
      <i class="op op-icon-calendar"></i>
      <span class="t-subheader">Past Day</span>
      <span class="t-body">UTC +1</span>
    </a>
    <div class="my-dropdown-menu date-picker-menu">
      <div class="menu-header">
        <ul class="my-pivot">
          <li>Date</li>
          <li>Time Zone</li>
        </ul>
      </div>
      <div class="menu-body">
        What time periods matter most to you? You'll be able to change this later.
        <div>
          <ul class="date-options">
            <li>Past Day</li>
            <li>Current Week</li>
            <li>Current Month</li>
            <li>Current Quarter</li>
            <li>Current Year</li>
          </ul>
          <ul class="date-options">
            <li>Previous Week</li>
            <li>Previous Month</li>
            <li>Previous Quarter</li>
            <li>Previous Year</li>
          </ul>
        </div>
        <div>
          <i class="op op-icon-calendar"></i> Add custom Date Range
        </div>
      </div>
      <div class="menu-footer">
        <button>Save Changes <i class="op op-icon-check"></i></button>
      </div>
    </div>
  </li>
  <li class="segment-picker">
    <a>
      <i class="op op-icon-segments"></i>
      <span class="t-subheader">2 Segments</span>
    </a>
    <div class="my-dropdown-menu segment-picker-menu">
      <div class="menu-header">
        <a>Reset Segment <i class="op op-icon-connect"></i></a>
      </div>
      <div class="menu-body">
        <div class="list-item">
          <div>Gender</div>
          <span><i class="op op-icon-close"></i></span></div>
        <div class="list-item">
          <div>Age Range</div>
          <span><i class="op op-icon-close"></i></span></div>
        <div class="list-item">
          <div>Device</div>
          <span><i class="op op-icon-close"></i></span></div>
        <div class="list-item">
          <div>Campaign Objective</div>
          <span><i class="op op-icon-close"></i></span></div>
        <div class="list-item">
          <div>Country</div>
          <span><i class="op op-icon-close"></i></span></div>
        <div class="list-item">
          <div>Industry</div>
          <span><i class="op op-icon-close"></i></span></div>
        <div class="list-item">
          <div>Integration Type</div>
          <span><i class="op op-icon-close"></i></span></div>
        <div class="list-item">
          <div>Placement Type</div>
          <span><i class="op op-icon-close"></i></span></div>
        <div class="list-item">
          <div>Ad Placement</div>
          <span><i class="op op-icon-close"></i></span></div>
      </div>
      <div class="menu-footer">
        <button>Save Choices <i class="op op-icon-check"></i></button>
      </div>

    </div>
  </li>
  <li class="user-menu">
    <a>
      <i class="op op-icon-user"></i>
      <span class="t-subheader">User Name</span>
      <i class="op op-icon-down"></i>
    </a>
    <div class="my-dropdown-menu user-menu">
      <div class="menu-header">
        Profile & Settings
      </div>
      <div class="menu-footer">
        <button>Log Out</button>
      </div>

    </div>
  </li>
  <li class="notification" onmouseenter="void toggle('notification', true);"
      onmouseleave="void toggle('notification', false);">
    <a (click)="toggleInfo('notification')">
      <i class="op op-icon-notifications"></i>
    </a>
    <div class="my-dropdown-menu pull-right dark-menu notification-menu">
      <ul>
        <li class="header-0">Notifications</li>
        <li class="header-1">new</li>
        <li class="item bright">
          <span class="icon"><i class="op op-icon-notifications"></i></span>
          <div class="content">
            <p class="message">You creative "Rokt email-mobile" was not approved because of
              typo.</p>
            <p class="time">yesterday 3:04pm</p>
          </div>
        </li>
        <li class="item bright">
          <span class="icon"><i class="op op-icon-notifications"></i></span>
          <div class="content">
            <p class="message">You creative "Rokt email-mobile" was not approved because of
              typo.</p>
            <p class="time">yesterday 3:04pm</p>
          </div>
        </li>
        <li class="item bright">
          <span class="icon"><i class="op op-icon-notifications"></i></span>
          <div class="content">
            <p class="message">You creative "Rokt email-mobile" was not approved because of
              typo.</p>
            <p class="time">yesterday 3:04pm</p>
          </div>
        </li>
        <li class="header-1">read</li>
        <li class="item bright">
          <span class="icon"><i class="op op-icon-notifications"></i></span>
          <div class="content">
            <p class="message">You creative "Rokt email-mobile" was not approved because of
              typo.</p>
            <p class="time">yesterday 3:04pm</p>
          </div>
        </li>
        <li class="item bright">
          <span class="icon"><i class="op op-icon-notifications"></i></span>
          <div class="content">
            <p class="message">You creative "Rokt email-mobile" was not approved because of
              typo.</p>
            <p class="time">yesterday 3:04pm</p>
          </div>
        </li>
        <li class="item bright">
          <span class="icon"><i class="op op-icon-notifications"></i></span>
          <div class="content">
            <p class="message">You creative "Rokt email-mobile" was not approved because of
              typo.</p>
            <p class="time">yesterday 3:04pm</p>
          </div>
        </li>
      </ul>
    </div>
  </li>
  <li class="bookmark" onmouseenter="void toggle('bookmark', true);"
      onmouseleave="void toggle('bookmark', false);">
    <a (click)="toggleInfo('bookmark')">
      <i class="op op-icon-bookmarks"></i>
    </a>
    <div class="my-dropdown-menu pull-right dark-menu">
      <ul>
        <li class="header-0">Bookmarks</li>
        <li class="header-1">Creatives</li>
        <li class="item">
          <span class="icon"><i class="op op-icon-bookmarks"></i></span>
          <div class="content"><p>ROKT email - Canada</p></div>
        </li>
        <li class="item">
          <span class="icon"><i class="op op-icon-bookmarks"></i></span>
          <div class="content"><p>ROKT email - Canada</p></div>
        </li>
        <li class="header-1">Campaigns</li>
        <li class="item">
          <span class="icon"><i class="op op-icon-bookmarks"></i></span>
          <div class="content"><p>Rokt email - France</p></div>
        </li>
        <li class="item">
          <span class="icon"><i class="op op-icon-bookmarks"></i></span>
          <div class="content"><p>Rokt email - US</p></div>
        </li>
        <li class="header-1">Widgets</li>
        <li class="item">
          <span class="icon"><i class="op op-icon-bookmarks"></i></span>
          <div class="content"><p>Central - Checkout Widget</p></div>
        </li>
      </ul>
    </div>
  </li>
  <li class="history" onmouseenter="void toggle('history', true);"
      onmouseleave="void toggle('history', false);">
    <a (click)="toggleInfo('history')">
      <i class="op op-icon-history"></i>
    </a>
    <div class="my-dropdown-menu pull-right dark-menu">
      <ul>
        <li class="header-0">History</li>
        <li class="item bright">
          <span class="icon"><i class="op op-icon-campaign"></i></span>
          <div class="content">
            <p class="message-small bright">
              You created a new Campaign</p>
            <p>ROKT email - Canada</p>
            <p class="time">yesterday 3:04pm</p>
          </div>
        </li>
        <li class="item">
          <span class="icon"><i class="op op-icon-campaign"></i></span>
          <div class="content">
            <p class="message-small bright">
              You created a new Campaign</p>
            <p>ROKT email - Canada</p>
            <p class="time">yesterday 3:04pm</p>
          </div>
        </li>
        <li class="item bright">
          <span class="icon"><i class="op op-icon-creative"></i></span>
          <div class="content">
            <p class="message-small bright">
              Jill Doe submitted a new Creative for review:</p>
            <p>ROKT Email inline - US</p>
            <p class="time">yesterday 3:04pm</p>
          </div>
        </li>
        <li class="item bright">
          <span class="icon"><i class="op op-icon-campaign"></i></span>
          <div class="content">
            <p class="message-small bright">
              You creaed a new Campaign</p>
            <p>ROKT email - Canada</p>
            <p class="time">yesterday 3:04pm</p>
          </div>
        </li>
      </ul>
    </div>
  </li>
</ul>
