@import '../../assets/variables';
@import '../../assets/typography';

ul.top-nav {
  position: relative;
  z-index: 100;

  margin: 0 0 10px 0;
  padding: 0;
  background-color: $c-cool-gray-4;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;

  // flex-grow factors
  & > li {
    &.account-selector {
      flow-grow: 1;
    }
    &.search-box {
      flow-grow: 1;
    }
    &.date-picker {
      flow-grow: 0;
    }
    &.segment-picker {
      flow-grow: 0;
    }
    &.user-menu {
      flow-grow: 0;
    }
    &.notification {
      flow-grow: 0;
    }
    &.bookmark {
      flow-grow: 0;
    }
    &.history {
      flow-grow: 0;
    }
  }

  & > li {
    position: relative;
    display: inline-block;
    background-color: $c-white;
    //border: 0 $c-cool-gray-4 solid;
    //height: 64px;

    & > a {
      font-size: 24px;
      box-sizing: border-box;
      border: 0 $c-cool-gray-4 solid;
      border-left-width: 2px;
      display: block;
      min-width: 24px;
      height: 64px;
      margin: 0;
      padding: 20px 24px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      & > span {
        display: inline-block;
        vertical-align: top;
        margin: 0 8px;
        &.t-subheader {
          padding: 0;
          font-weight: $font-weight-bold;
        }
        &.t-body {
          padding: 4px 0 2px 0;
        }
      }
      & > i.op {
        margin: 0 4px;
      }
    }

    &:first-child > a {
      border-left-width: 0;
    }

    &.search-box > a {
      min-width: 17em;
      & > input {
        box-sizing: border-box;
        margin: 0;
        padding: 0 20px 0 64px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include t-body;
        background-color: transparent;

        display: inline-block;
        border: 1px solid transparent;
        min-width: 22em;
        color: $c-black;
        vertical-align: top;
        &:focus {
          //border-color: $c-primary-blue;
          //box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.065), 0 1px 15px rgba($c-primary-blue, 0.01);
        }
        font-family: $default-font;
        &::-moz-placeholder {
          color: $c-cool-gray-1;
        }
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: $c-cool-gray-1;
        }
        &::-moz-placeholder { /*Firefox 19+ */
          color: $c-cool-gray-1;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: $c-cool-gray-1;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: $c-cool-gray-1;
        }
      }
    }

    &.account-selector {
      & > a {
        min-width: 10em;
      }
      & > a > span {
        float: left;
      }
      & > a > i.op {
        float: right;
        filter: none;
      }
    }

    &.date-picker, &.segment-picker {
      & > a > i.op {
        filter: invert(100%);
      }
    }

    &.user-menu, &.notification, &.bookmark, &.history {
      & > a > i.op {
        filter: invert(60%);
      }
      & > a > i.op.op-icon-down {
        filter: none;
      }
    }

    &.notification, &.bookmark, &.history {
      &:hover {
        background-color: $c-cool-gray-0;
        color: $c-cool-gray-4;
      }
    }
  }

  // drop-down menu settings
  & > li {
    &:first-child > .my-dropdown-menu {
      left: 0; // -2px if border is in use
      &.pull-right {
        right: 0;
        left: inherit;
      }
    }
    &:hover .my-dropdown-menu {
      visibility: visible;
    }
  }

  ul.account-menu {
    min-width: 100%;
    list-style: none;
    & > li {
      padding: 14px 32px;
      &:hover {
        background-color: $c-cool-gray-4;
      }
    }
  }

  div.date-picker-menu {

    & ul.my-pivot {
      display: block;
      margin: -8px -24px;
      padding: 0 8px;
      border: 0 $c-cool-gray-4 solid;
      border-bottom-width: 2px;
      & > li {
        display: inline-block;
        font-weight: $font-weight-regular;
        border: 0 solid transparent;
        border-bottom-width: 4px;
        @include t-caption;
        padding: 16px 16px 8px 16px;
        &:hover {
          border-bottom-color: $c-primary-blue;
        }
      }
    }
  }

  div.segment-picker-menu {
    & .menu-body {
      padding: 0;
      & div.list-item {
        box-sizing: border-box;
        border: 0 $c-cool-gray-4 solid;
        border-top-width: 2px;
        padding: 16px 24px;
        min-height: 60px;
        & > div:first-child {
          float: left;
          line-height: 24px;
        }
        & > span {
          font-size: 24px;
          float: right;
        }
      }
    }
  }

  div.user-menu {
    min-width: 100%;
  }
}

.my-dropdown-menu {
  display: block;
  visibility: hidden;
  position: absolute;
  //border: 2px solid $c-cool-gray-4;
  //padding: 4px 16px;
  padding: 0;
  min-height: 50px;
  min-width: 50px;
  left: 0;
  background-color: $c-white;
  &.pull-right {
    left: inherit;
    //right: -2px;
    right: 0;
  }
  & > .menu-header {
    border: 0 $c-cool-gray-4 solid;
    padding: 24px;
    border-top-width: 2px;
  }
  & > .menu-body {
    padding: 24px;
    min-width: 32em;

    & > div {
      //height: 120px;
      & > .date-options {
        display: inline-block;
        padding: 16px;
        vertical-align: top;

        flex-flow: column wrap;
        align-items: flex-start;
        justify-content: space-between;
        & > * {
          display: block;
          //border: solid blue thin;
          //background-color: lightyellow;
          margin: 4px;
        }
      }
    }
  }
  & > .menu-footer {
    border-top: 2px $c-cool-gray-4 solid;
    padding: 24px;
    & > button {
      right: 0;
      min-width: 120px;
      @include t-body;
      font-weight: 700;
      background-color: $c-primary-blue;
      white-space: nowrap;
      color: $c-white;
      border: 0 solid transparent;
      border-radius: 4px;
      padding: 8px 24px 8px 24px;
    }
  }
  &.dark-menu {
    width: 500%;
    display: none;
  }
}

.dark-menu {
  background-color: $c-cool-gray-0;
  color: $c-cool-gray-3;
  & > ul {
    margin: 0;
    padding: 0;
    & > li {
      margin: 0 0 4px 0;
      padding: 16px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      &:last-child {
        margin-bottom: 0;
      }
      &.header-0 {
        @include t-subheader;
      }
      &.header-1 {
        @include t-caption;
      }
      &.item {
        &.bright {
          background-color: $c-cool-gray-1;
        }
        & > span.icon {
          font-size: 24px;
          flex-grow: 0;
          margin: 8px;
        }
        & > .content {
          flex-grow: 5;
          margin-left: 16px;
          @include t-body;
          & > p {
            &.message-small {
              @include t-small;
              font-weight: $font-weight-regular;
              color: $c-cool-gray-2;
            }
            &.message {
              font-weight: $font-weight-regular;
            }
            &.time {
              @include t-caption;
              font-weight: $font-weight-regular;
              color: $c-cool-gray-2;
            }
          }
        }

      }
    }
  }
}

.side-info {
  display: none;
  box-sizing: border-box;
  font-size: 24px;
  width: 16.6666667em;
  height: 100%;
  border: 0 solid blue;
  position: absolute;
  top: 0;
  right: 0;
  padding: 64px 0 0 0;
  background-color: $c-cool-gray-0;
  overflow-y: auto;
  z-index: 1;
}

.auto {
  display: none;
}

#screen.notification {
  & .auto.notification {
    display: block;
  }
}

#screen.bookmark {
  & .auto.bookmark {
    display: block;
  }
}

#screen.history {
  .auto.history {
    display: block;
  }
}
