@import "../../../assets/_variables";
@import "../../../assets/_typography";

:host {
  & > div {
    position: relative;
    & > div.bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 1px;
      border-bottom: 2px rgba($c-cool-gray-3, 1) solid;
    }
  }

  & ul.pivot {
    position: relative;
    display: block;
    border: 0 solid transparent;
    margin: 0;
    padding: 0; // padding-left/right should be configurable
    list-style: none;

    & > li {
      display: inline-block;
      border: 0 solid transparent;
      margin: 0 0 0 8px;
      padding: 0;
      @include t-body;
      color: $c-black;
      font-weight: $font-weight-regular;

      &:first-child {
        margin-left: 0;
      }

      &:not(.label):not([disabled]):not(.active) {
        cursor: pointer;
        &:hover {
          //background-color: $c-cool-gray-4;
        }
      }
      &[disabled] {
        color: $c-cool-gray-2;
        cursor: not-allowed;
      }
      &.label {
        cursor: default;
      }
      &.active {
        cursor: default;
        // Ash agreed to remove this to avoid flickering
        //font-weight: $font-weight-bold;
        & > span.bar {
          border-color: $c-primary-blue;
        }
      }
      & > span.inner {
        display: inline-block;
        margin: 6px 8px;
      }
      & > span.bar {
        display: block;
        margin: 0;
        height: 4px;
        box-sizing: border-box;
        border-radius: 2px;
        border: 2px solid transparent;
      }
    }

    &.mobile > li {
      @include t-caption;
    }
  }
}

:host(.16x) {
  ul.pivot {
    padding: 0 16px;
  }
}
