//
// Colors
// https://braveux.github.io/rokt-pattern-library/color
//

$c-primary-blue: rgb(33, 153, 244);     // #2199F4
$c-black: rgb(32, 32, 34);              // #202022
$c-white: rgb(255, 255, 255);           // #FFFFFF

$c-modal: rgba(32, 32, 34, .9);         // #202022
$c-cool-gray-0: rgb(76, 78, 81);        // #4C4E51
$c-cool-gray-1: rgb(95, 101, 108);      // #5F656C
$c-cool-gray-2: rgb(172, 181, 190);     // #ACB5BE
$c-cool-gray-3: rgb(234, 235, 237);     // #EAEBED
$c-cool-gray-4: rgb(246, 245, 245);     // #F6F5F5

$c-banner-plain: rgb(104, 100, 98);     // #686462

$c-warn-small: rgb(188, 54, 43);        // #BC362B
$c-warn-large: rgb(240, 64, 50);        // #F04032
$c-pending: rgb(234, 220, 71);          // #EADC47
$c-positive: rgb(4, 176, 124);          // #04B07C

$c-primary-blue-1: rgb(0, 88, 173);     // #0058AD
$c-primary-blue-2: rgb(33, 153, 244);   // #2199F4
$c-primary-blue-3: rgb(121, 193, 253);  // #79C1FD
$c-primary-blue-4: rgb(204, 232, 254);  // #CCE8FE
$c-primary-blue-5: rgb(230, 244, 255);  // #E6F4FF

$c-purple-1: rgb(50, 51, 128);          // #323380
$c-purple-2: rgb(81, 84, 209);          // #5154D1
$c-purple-3: rgb(117, 119, 232);        // #7577EB
$c-purple-4: rgb(176, 176, 255);        // #B0B0FF
$c-purple-5: rgb(216, 216, 240);        // #D8D8F0

$c-beetroot-1: rgb(181, 30, 109);       // #B51E6D
$c-beetroot-2: rgb(216, 97, 164);       // #D861A4
$c-beetroot-3: rgb(246, 153, 194);      // #F699C2
$c-beetroot-4: rgb(244, 204, 224);      // #F4CCE0
$c-beetroot-5: rgb(245, 230, 237);      // #F5E6ED

$c-orange-1: rgb(214, 94, 15);          // #D65E0F
$c-orange-2: rgb(242, 132, 58);         // #F2843A
$c-orange-3: rgb(250, 175, 125);        // #FAAF7D
$c-orange-4: rgb(250, 212, 187);        // #FAD4BB
$c-orange-5: rgb(250, 235, 225);        // #FAEBE1

$c-yellow-1: rgb(248, 212, 38);         // #F8D426
$c-yellow-2: rgb(250, 227, 112);        // #FAE370
$c-yellow-3: rgb(247, 255, 128);        // #F7FF80
$c-yellow-4: rgb(248, 252, 189);        // #F8FCBD
$c-yellow-5: rgb(251, 252, 227);        // #FBFCE3

$c-green-1: rgb(10, 104, 48);           // #0A6830
$c-green-2: rgb(73, 171, 68);           // #49AB44
$c-green-3: rgb(157, 224, 191);         // #9DE0BF
$c-green-4: rgb(198, 247, 223);         // #C6F7DF
$c-green-5: rgb(227, 252, 240);         // #E3FCF0

//// Font
//@font-face {
//  font-family: 'Soleil';
//  src: url('/assets/fonts/Soleil-Regular.otf');
//}
//@font-face {
//  font-family: 'Soleil';
//  src: url('/assets/fonts/Soleil-Bold.otf');
//  font-weight: bold;
//}

$default-font: Soleil, 'Source Sans Pro', sans-serif;

$font-weight-bold: 700;
$font-weight-regular: 400;

$text-display-size: 42px;
$text-display-line-height: 54px;

$text-headline-size: 28px;
$text-headline-line-height: 36px;

$text-title-size: 20px;
$text-title-line-height: 32px;

$text-subheader-size: 16px;
$text-subheader-line-height: 24px;

$text-body-size: 14px;
$text-body-line-height: 18px;

$text-caption-size: 12px;
$text-caption-line-height: 16px;
$text-caption-letter-spacing: 0.86px;

$text-small-size: 10px;
$text-small-line-height: 16px;

// banner
$banner-border-radius: 4px;
$banner-margin-bottom: 16px;
