@import '/assets/variables';
@import '/assets/icons';
@import '/assets/typography';
@import '/assets/buttons';
@import '/assets/dropdown';

body {
  font-family: $default-font;
  @include t-body;
  font-weight: $font-weight-regular;
  background-color: $c-cool-gray-4;
  margin: 0;
  padding: 0;
}

* {
  font-family: $default-font;
  box-sizing: border-box;
}
